<launch>
  <arg name="set_lidar_frame_id" default="base_scan"/>
  <arg name="set_port_lidar" default="/dev/ttyLiDAR"/>

  <include file="$(find omo_r1mini_bringup)/launch/omo_r1mini_bringup.launch">
  </include>

  <include file="$(find omo_r1mini_bringup)/launch/omo_r1mini_lidar.launch">
    <arg name="set_frame_id" value="$(arg set_lidar_frame_id)"/>
    <arg name="set_port" value="$(arg set_port_lidar)"/>
  </include>

  <!-- <include file="$(find omo_r1mini_bringup)/launch/omo_r1mini_lidar_hlds.launch" /> -->
</launch>
